torch==2.7.0 --index-url https://download.pytorch.org/whl/cpu
langchain
transformers
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
huggingface-hub
pydantic
werkzeug
playwright
motor
python-jose
python-dotenv
fastapi
uvicorn